# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/cv
web/uploads/application-letter
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
