<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}GetaJob{% endblock %}</title>
          <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" type="text/css" rel="stylesheet" />
          <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" type="text/css" rel="stylesheet" />
          <link rel="shortcut icon" href="{{ asset('bundles/mrmcburgergetajob/images/favicon.ico') }}" />
          {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="sidebar">
            {% block sidebar %}{% endblock %}
        </div>

        <div id="content">
            {% block body %}{% endblock %}
        </div>
        <script src="http://getbootstrap.com/2.3.2/assets/js/jquery.js" type="text/javascript"></script>
        <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-transition.js" type="text/javascript"></script>
        <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-alert.js" type="text/javascript"></script>
        <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-modal.js" type="text/javascript"></script>
        <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-dropdown.js" type="text/javascript"></script>
        <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-scrollspy.js" type="text/javascript"></script>
        <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-tab.js" type="text/javascript"></script>
        <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-tooltip.js" type="text/javascript"></script>
        <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-popover.js" type="text/javascript"></script>
        <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-button.js" type="text/javascript"></script>
        <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-collapse.js" type="text/javascript"></script>
        <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-carousel.js" type="text/javascript"></script>
        <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-typeahead.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ asset('js/fos_js_routes.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
