form#new_company
{
    padding-top: 40px;
}

div#new_company_right
{
}

div#new_company_left
{
    float: left;
}

div#new_company_left_left
{
    float: left;
    width: 110px;
}

div#new_company_left_right
{
    float: right;
    width: 430px;
}

div#new_company_right_right
{
    float: left;
    width: 350px;
}

div#new_company_right_left
{
    float: left;
    width: 200px;
}

.hero-unit-company
{
    width: 1170px;
    height: 740px;
}

.form-error
{
    color: red;
    font-size: 11px;
}

#mrmcburger_getajobbundle_companytype_name-label
{
    padding-top: 6px;
}

#mrmcburger_getajobbundle_companytype_sector-label
{
    padding-top: 15px;
}

#mrmcburger_getajobbundle_companytype_address_number-label
{
    padding-top: 15px;
}

#mrmcburger_getajobbundle_companytype_address_type-label
{
    padding-top: 15px;
}

#mrmcburger_getajobbundle_companytype_address_name-label
{
    padding-top: 15px;
}

#mrmcburger_getajobbundle_companytype_address_additional-label
{
    padding-top: 15px;
}

#mrmcburger_getajobbundle_companytype_address_zip-label
{
    padding-top: 15px;
}

#mrmcburger_getajobbundle_companytype_address_city-label
{
    padding-top: 15px;
}

#mrmcburger_getajobbundle_companytype_presentation-label
{
    padding-top: 15px;
}

#mrmcburger_getajobbundle_companytype_numbers-label
{
    padding-top: 15px;
}

#mrmcburger_getajobbundle_companytype_phone-label
{
    padding-top: 15px;
}

#mrmcburger_getajobbundle_companytype_mail-label
{
    padding-top: 15px;
}

#mrmcburger_getajobbundle_companytype_add_company
{
    margin-top: 90px;
}

#mrmcburger_getajobbundle_companytype_companycriteria_displacement-label
{
    padding-top: 6px;
}

#mrmcburger_getajobbundle_companytype_companycriteria_celebrity-label
{
    padding-top: 15px;
}

#mrmcburger_getajobbundle_companytype_companycriteria_missionInterest-label
{
    padding-top: 15px;
}

#mrmcburger_getajobbundle_companytype_companycriteria_salaryExpectation-label
{
    padding-top: 15px;
}

#mrmcburger_getajobbundle_companytype_companycriteria_workConditions-label
{
    padding-top: 15px;
}

#mrmcburger_getajobbundle_companytype_companycriteria_evolutionPossibilities-label
{
    padding-top: 15px;
}

#newcompany-address-label
{
    padding-top: 15px;
    padding-bottom: 20px;
}

#newcompany-address-label label
{
    padding-left: 15px;
}

#newcompany-address-widget
{
    padding-top: 45px;
    padding-bottom: 20px;
}

.content
{
    width: 1120px;
    min-height:720px;
    padding-top: 40px;
    margin : auto;
    background-color: #EEEEEE;
}

#show-company
{
    padding-top: 30px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

#show-company-header-left
{
    float: left;
    width: 300px;
    padding-left: 200px;
}

#show-company-header
{
    padding-bottom: 40px;
    padding-top: 20px;
}

#address-label
{
    font-size: 14px;
    font-weight: normal;
}
