.hero-unit-globalcriteria
{
    width: 1170px;
    height: 760px;
}

#show-globalcriteria-header-left
{
    float: left;
    width: 300px;
    padding-left: 200px;
}

#show-globalcriteria-header
{
    padding-bottom: 40px;
    padding-top: 20px;
}

div#show_globalcriteria_left
{
    float: left;
}

div#show_globalcriteria_left_left
{
    float: left;
    width: 200px;
}

div#show_globalcriteria_left_right
{
    float: right;
    width: 500px;
}

div#show-globalcriteria
{
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

div#modify_globalcriteria_left_right
{
    width: 430px;
    float: right;
}

div#modify_globalcriteria_left_left
{
    width: 200px;
    float: left;
}

div#modify_globalcriteria_left
{
    width: 630px;
}

#mrmcburger_getajobbundle_globalcriteriatype_displacement-label
{
    padding-top: 5px;
}

#mrmcburger_getajobbundle_globalcriteriatype_celebrity-label
{
    padding-top: 15px;
}

#mrmcburger_getajobbundle_globalcriteriatype_missionInterest-label
{
    padding-top: 15px;
}

#mrmcburger_getajobbundle_globalcriteriatype_salaryExpectation-label
{
    padding-top: 15px;
}

#mrmcburger_getajobbundle_globalcriteriatype_workConditions-label
{
    padding-top: 15px;
}

#mrmcburger_getajobbundle_globalcriteriatype_evolutionPossibilities-label
{
    padding-top: 15px;
}
